#registration-edit.row
  .col-sm-8.col-sm-offset-3.mx-auto
    %h2 アカウント情報の編集
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      #registration__form
        %h5 サインイン情報
        = render partial: 'devise/shared/form', locals: { f: f }
