#artist--wrapper
  #artist-name-search
    -# タイトル(アーティスト名・画像)
    #artist-name-search--bgmask.row.justify-content-between.d-flex.align-items-center
      #artist-name-search__title--wrapper.col-md-auto
        #artist-name-search__title
        #artist-name-search__title--img

      -# アーティスト検索フォーム
      #artist-name-search__form--wrapper.col-md
        #artist-name-search__forms.input-group
          %input#artist-name-search__form.form-control{type: 'text', placeholder: 'artist name search'}
        #artist-name-search__results.mx-auto

  -# 当該アーティストのアルバム一覧
  .album-index.text-center
    %h4.album-index__title
      アルバム一覧
    %ul.album-index__lists.list-inline

    -# アルバム背景色はついたタグの多さによって変わるようにする→タグ機能実装時に設定、ボタンの色設定は以下
      -# %li.list-inline-item.mx-3
      -# happy
      -#   %button.btn.btn-orange400{type: 'button', onclick: "location.href='#'"}}
      -# anger
      -#   %button.btn.btn-red400{type: 'button', onclick: "location.href='#'"}}
      -# sad
      -#   %button.btn.btn-indigo400{type: 'button', onclick: "location.href='#'"}
      -# surprise
      -#   %button.btn.btn-amber400{type: 'button', onclick: "location.href='#'"}
      -# fear
      -#   %button.btn.btn-purple400{type: 'button', onclick: "location.href='#'"}
      -# disgust
      -#   %button.btn.btn-bluegrey400{type: 'button', onclick: "location.href='#'"}
