#artist--wrapper
  #artist-name-search
    -# タイトル(アーティスト名・画像)
    #artist-name-search--bgmask.row.justify-content-between.d-flex.align-items-center
      #artist-name-search__title--wrapper.col-4.col-sm-6.col-xl-4
        #artist-name-search__title
        #artist-name-search__title--img

      -# アーティスト検索フォーム
      #artist-name-search__form--wrapper.col-4.col-sm-6.col-xl-8
        #artist-name-search__forms.input-group
          %input#artist-name-search__form.form-control{type: 'text', placeholder: 'artist name search'}
        #artist-name-search__results.mx-auto

  -# 当該アーティストのアルバム一覧
  .album-index.text-center
    %h4.album-index__title
      アルバム一覧
    %ul.album-index__lists.list-inline
