#current-user-mypage--wrapper
  -# タイトル(ユーザ名)
  #current-user-mypage
    #current-user-mypage--bgmask.row.justify-content-between.d-flex.align-items-center
      #current-user-mypage__title--wrapper.col-4.col-sm-3.col-xl-2
        #current-user-mypage__title
          %h2
            = current_user.name

      -# アイコン画像
      #current-user-mypage__icon--wrapper.col-4.col-sm-3.col-xl-2
        %img#current-user-mypage__icon.rounded-circle.img-fluid{ src: current_user.icon }

      -# アカウント編集画面へのリンク
      #current-user-mypage__edit--wrapper.col-4.col-sm-6.col-xl-8
        = link_to 'アカウント情報編集', edit_user_registration_path, id: 'current-user-mypage__edit', class: 'btn btn-info float-right'

  -# ユーザがタグ付けしたアルバム一覧
  .album-index.text-center
    %h4.album-index__title
      あなたの印象履歴
    %ul.album-index__lists.list-inline
