#album--wrapper.pt-3
  #album-search--upper
    -# タイトル(アルバム名・画像)
    #album-search--bgmask.row.justify-content-between.d-flex.align-items-center
      #artist-name-search__title--wrapper.col-4.col-sm-6.col-xl-4
        #album-search__title
        #album-search__title--img
      #artist-name-search__back--wrapper.col-4.col-sm-6.col-xl-8
        = button_to '検索結果に戻る', artist_path, id: 'artist-name-search__back', class: 'btn btn-green400 float-right', onClick: 'history.go(-1); return false;', data: {"turbolinks" => false}

  #album-search--lower.justify-content-around.d-flex.mx-auto
    -# タグ選択
    #album-search__tags
      %h4#album-search__tags--title.text-center.pb-4
        このアルバムの印象は？
      -# タグ一覧
      %ul#album-search__tags--lists.list-inline.row.justify-content-center.d-flex
        %li.list-inline-item.col-4.pb-3
          %button#tag-happy.btn.tag-btn.album-search_tag--btn.btn-orange400.d-block.mx-auto{ type: 'button', value: '1' }
            happy
        %li.list-inline-item.col-4.pb-3
          %button#tag-anger.btn.tag-btn.album-search_tag--btn.btn-red400.d-block.mx-auto{type: 'button', value: '2' }
            anger
        %li.list-inline-item.w-100
        %li.list-inline-item.col-4.pb-3
          %button#tag-sad.btn.tag-btn.album-search_tag--btn.btn-indigo400.d-block.mx-auto{type: 'button', value: '3' }
            sad
        %li.list-inline-item.col-4.pb-3
          %button#tag-surprise.btn.tag-btn.album-search_tag--btn.btn-yellow400.d-block.mx-auto{type: 'button', value: '4' }
            surprise
        %li.list-inline-item.w-100
        %li.list-inline-item.col-4.pb-3
          %button#tag-fear.btn.tag-btn.album-search_tag--btn.btn-purple400.d-block.mx-auto{type: 'button', value: '5' }
            fear
        %li.list-inline-item.col-4.pb-3
          %button#tag-disgust.btn.tag-btn.album-search_tag--btn.btn-grey400.d-block.mx-auto{type: 'button', value: '6' }
            disgust
        %li.list-inline-item.w-100
        %li.list-inline-item.col-4.pb-3
          %button#tag-neutral.btn.tag-btn.album-search_tag--btn.btn-white.d-block.mx-auto{type: 'button', value: '7' }
            neutral

    -# 試聴プレイヤ
    #album-search__audition
      %iframe#spotify-player{ width: '320', height: '300', frameborder: '0', allowtransparency: 'true', allow: 'encrypted-media' }
