#application-name.row.justify-content-center.display-3.pt-3{ href: '#'}
  %u Application Name

-# アーティスト検索フォーム
#artist-name-search
  %h4#artist-name-search__title.row.justify-content-center
    アーティスト名で検索
  #artist-name-search__forms.input-group.w-75.mx-auto
    %input#artist-name-search__form.form-control{type: 'text', placeholder: 'artist name search'}
  #artist-name-search__results.w-75.mx-auto

-# タグ検索ボタン
#tag-search
  %h4#tag-search__title.row.justify-content-center
    アルバムの印象で検索
  %ul#tag-search__list.list-inline.row.justify-content-center
    %li.list-inline-item.mx-3
      %button#tag-happy.btn.btn-orange400{type: 'button', onclick: "location.href='#'"}
        happy
    %li.list-inline-item.mx-3
      %button#tag-anger.btn.btn-red400{type: 'button', onclick: "location.href='#'"}
        mad
    %li.list-inline-item.mx-3
      %button#tag-sad.btn.btn-indigo400{type: 'button', onclick: "location.href='#'"}
        sad
    %li.list-inline-item.mx-3
      %button#tag-surprise.btn.btn-amber400{type: 'button', onclick: "location.href='#'"}
        surprise
    %li.list-inline-item.mx-3
      %button#tag-fear.btn.btn-purple400{type: 'button', onclick: "location.href='#'"}
        fear
    %li.list-inline-item.mx-3
      %button#tag-disgust.btn.btn-bluegrey400{type: 'button', onclick: "location.href='#'"}
        disgust
