#application-name.row.justify-content-center.pt-3
  = image_tag 'Logos made simple2000.png', alt: 'Logo', id: 'application-name__img'

-# アーティスト検索フォーム
#artist-name-search
  %h4#artist-name-search__title.row.justify-content-center
    アーティスト名で検索
  #artist-name-search__forms.input-group.w-75.mx-auto
    %input#artist-name-search__form.form-control{type: 'text', placeholder: 'artist name search'}
  #artist-name-search__results.w-75.mx-auto

-# タグ検索ボタン
#tag-search
  %h4#tag-search__title.row.d-flex.justify-content-center
    アルバムの印象で検索
  %ul#tag-search__lists.list-inline.row.d-flex.justify-content-around.mx-auto
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-happy.btn.tag-btn.btn-orange400.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/1'"}
        happy
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-anger.btn.tag-btn.btn-red400.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/2'"}
        anger
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-sad.btn.tag-btn.btn-indigo400.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/3'"}
        sad
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-surprise.btn.tag-btn.btn-yellow400.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/4'"}
        surprise
    %li.w-100.d-block.d-lg-none
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-fear.btn.tag-btn.btn-purple400.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/5'"}
        fear
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-disgust.btn.tag-btn.btn-grey400.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/6'"}
        disgust
    %li.list-inline-item.tag-search__list.col.pb-3
      %button#tag-neutral.btn.tag-btn.btn-white.mx-auto.d-block{type: 'button', onclick: "location.href='/tags/7'"}
        neutral

-# タグ付けされたアルバム最新10件の表示
#latest-post
  .album-index.text-center
    %h4.album-index__title
      最近タグ付けされたアルバム
    %ul.album-index__lists.list-inline

