#tag-name-search--wrapper.pt-3
  -# タイトル(タグ名)
  #tag-name-search{ style: 'background-color: ' + @tag.color + ';' }
    #tag-name-search--bgmask.row.justify-content-between.d-flex.align-items-center
      #tag-name-search__title--wrapper.col-4.col-sm-3.col-xl-2
        #tag-name-search__title
          %h2
            = @tag.name

  -# 当該タグが多くついたアルバム一覧
  .album-index.text-center
    %h4.album-index__title
      = @tag.name + 'なアルバム一覧'
    %ul.album-index__lists.list-inline
