body {
  height: 700px;
  min-width: 540px;
  background-image: url("symphony.png");
}

.container {
  margin-top: 70px;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

// アルバム一覧(タグ検索、アーティスト検索、マイページで共通)
#album-index {
  padding: 40px 0;
}

#album-index__thumbnail {
  height: 80px;
}
