@import "variable";

.howto__tag--btn {
  width: 150px;
}

.howto__try--btn {
  max-width: 180px;
}

.howto__usage--small-caption {
  font-size: 12px;
}

.mark {
  background-color: $whiteOpacity5;
}
