@import "variable";

#tag-name-search--wrapper {
  width: 100%;
}

#tag-name-search {
  min-height: 250px;
  padding: 50px 0;
  background-color: #666666;
}

#tag-name-search--bgmask {
  height: 150px;
  width: 100%;
  margin: 0;
  background-color: $whiteOpacity5;
}

#tag-name-search__title--wrapper {
  padding: 20px 10px;
}

#tag-name-search__title h2 {
  margin: 0;
}
