#session.row
  .col-sm-8.col-sm-offset-3.mx-auto
    %h2 サインイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = devise_error_messages!

      #session__form
        = render partial: 'devise/shared/form', locals: { f: f }
      = render partial: 'devise/shared/links'
